Port 22
ListenAddress 0.0.0.0

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
UsePAM no

AuthorizedKeysFile /home/git/ssh_data/authorized_keys

# Only the git user may connect
AllowUsers git

# Disable unnecessary features
X11Forwarding no
AllowAgentForwarding no
AllowTcpForwarding no
PermitTTY no

# Allow mounted authorized_keys file (owned by different uid)
StrictModes no

MaxAuthTries 20

LogLevel INFO
